body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

input, textarea {
  border: 0px;
  border-radius: 0px;
  outline: none;
  background-color: white;
  color: black;
}

.main-header {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 20px 2px #e2e2e2;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.main-header > div {
  height: 100%;
}
.main-header .logo-wrap {
  padding: 15px 0px;
  padding-left: 50px;
}
.main-header .logo-wrap .logo {
  height: 100%;
}
.main-header .nav-wrap {
  display: flex;
}
.main-header .nav-wrap .item {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: brandon-grotesque;
  font-size: 20px;
}
.main-header .nav-wrap .item:not(:last-child) {
  margin-right: 20px;
}
.main-header .nav-wrap .item a {
  color: #00911A;
  text-decoration: none;
}
.main-header .logo-wrap, .main-header .contact-wrap {
  flex-grow: 1;
  flex-basis: 0;
}
.main-header .contact-wrap {
  display: flex;
  padding-right: 50px;
  align-items: center;
  font-family: brandon-grotesque;
  justify-content: flex-end;
}
.main-header .contact-wrap .address-item {
  margin-right: 40px;
}
.main-header .contact-wrap .address-item, .main-header .contact-wrap .contact-item {
  display: flex;
}
.main-header .contact-wrap .address-item .icon-wrap, .main-header .contact-wrap .contact-item .icon-wrap {
  height: 20px;
  padding-top: 4px;
  padding-right: 10px;
}
.main-header .contact-wrap .address-item .icon-wrap .icon, .main-header .contact-wrap .contact-item .icon-wrap .icon {
  height: 100%;
  vertical-align: bottom;
}
.main-header .contact-wrap .address-item .content, .main-header .contact-wrap .contact-item .content {
  line-height: 15px;
}
.main-header .contact-wrap .address-item .content .one, .main-header .contact-wrap .contact-item .content .one {
  font-size: 12px;
  color: #00911A;
}
.main-header .contact-wrap .address-item .content .two, .main-header .contact-wrap .address-item .content .three, .main-header .contact-wrap .contact-item .content .two, .main-header .contact-wrap .contact-item .content .three {
  font-size: 13px;
}

.main-screen {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 70px - 7vh - 30px - 10px);
  background-image: url(/images/eng.jpg);
  background-position: center center;
  background-size: cover;
}
.main-screen .gradient {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #00911a 0%, rgba(0, 145, 26, 0) 100%);
}
.main-screen .content-wrap {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  width: 100%;
  left: 5%;
}
.main-screen .content-wrap .bigger {
  font-size: 60px;
  font-family: vox;
  text-transform: uppercase;
}
.main-screen .content-wrap .desc {
  font-family: brandon-grotesque;
  font-size: 16px;
  margin-bottom: 30px;
}

.white-btn, .green-btn {
  cursor: pointer;
  background-color: white;
  color: #00911A;
  border: 0px;
  outline: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: brandon-grotesque;
  padding: 15px 50px;
  box-shadow: 0px 0px 8px 2px #686868;
  transition: 0.3s;
}
.white-btn:hover, .green-btn:hover {
  box-shadow: 0px 0px 12px 4px #686868;
}

.green-btn {
  background-color: #18e061;
  color: white;
  box-shadow: 0px 0px 8px 2px #d6d6d6;
}
.green-btn:hover {
  box-shadow: 0px 0px 12px 4px #d6d6d6;
}

.main-section {
  width: 100%;
  padding-top: 7vh;
}
.main-section .section-name {
  font-family: vox;
  color: #28a556;
  font-size: 30px;
  font-weight: bold;
}
.main-section .section-name::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: #28a556;
  vertical-align: middle;
  margin-right: 15px;
  transform: translateY(-3px);
}
.main-section .items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  max-width: 1200px;
  width: 100%;
  margin: 30px auto 0px auto;
}
.main-section .items-wrapper .item img {
  max-width: 100%;
  display: inline-block;
}
.main-section .items-wrapper .item .caption {
  font-family: vox;
  color: black;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.main-section .items-wrapper-inline {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1200px;
  width: 100%;
  margin: 30px auto 0px auto;
}
.main-section .items-wrapper-inline img {
  max-width: 100%;
  display: inline-block;
}
.main-section .items-wrapper-inline .desc {
  padding: 30px 0px;
}
.main-section .items-wrapper-inline .desc .first {
  color: #28a556;
  font-size: 23px;
  font-family: vox;
}
.main-section .items-wrapper-inline .desc .content {
  font-family: brandon-grotesque;
  color: black;
}
.main-section .items-wrapper-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin: 30px auto 50px auto;
}
.main-section .items-wrapper-logos img {
  max-width: 100%;
  max-height: 100px;
  display: block;
  margin: auto;
}

.main-contact-wrap {
  position: relative;
  min-height: calc(100vh - 70px);
}
.main-contact-wrap .background-wrapper {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url(/images/contact_bg.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.main-contact-wrap .background-wrapper .gradient-white, .main-contact-wrap .background-wrapper .green {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.main-contact-wrap .background-wrapper .green {
  background-color: #28a556;
  opacity: 0.3;
}
.main-contact-wrap .background-wrapper .gradient-white {
  background: #020024;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.7679446779) 75%, rgba(255, 255, 255, 0.7) 100%);
}
.main-contact-wrap .outer-wrapper {
  display: flex;
  padding: 8% 0px 5% 5%;
  padding-bottom: calc(2% + 100px);
}
.main-contact-wrap .map-wrapper {
  margin-right: 40px;
  width: 30vw;
  height: 0%;
  border-radius: 30px;
  overflow: hidden;
}
.main-contact-wrap .map-wrapper img {
  width: 100%;
}
.main-contact-wrap .form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-contact-wrap .form-wrapper .green-btn {
  align-self: flex-start;
}
.main-contact-wrap .form-wrapper .header {
  font-size: 30px;
  font-family: vox;
  color: #28a556;
}
.main-contact-wrap .form-wrapper input, .main-contact-wrap .form-wrapper textarea, .main-contact-wrap .form-wrapper label {
  display: block;
}
.main-contact-wrap .form-wrapper input, .main-contact-wrap .form-wrapper textarea {
  border: 2px solid #28a556;
  border-radius: 20px;
  padding: 3px 15px;
  width: 400px;
  height: 40px;
  font-size: 17px;
  font-family: brandon-grotesque;
  margin: 10px 0px 20px 0px;
}
.main-contact-wrap .form-wrapper input::placeholder, .main-contact-wrap .form-wrapper textarea::placeholder {
  color: lightgrey;
}
.main-contact-wrap .form-wrapper textarea {
  height: 100px;
  padding: 5px 15px;
}
.main-contact-wrap .form-wrapper label {
  font-family: brandon-grotesque;
  font-size: 20px;
  color: #28a556;
}
.main-contact-wrap .form-wrapper label.required::after {
  content: " (wymagane)";
  color: black;
  font-size: 14px;
}
.main-contact-wrap .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  padding: 20px 50px;
  padding-right: 250px;
  background-color: #28a556;
  border-radius: 0px 65px 0px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  width: 100%;
}
@media (max-width: 1250px) {
  .main-contact-wrap .footer {
    max-width: 100%;
    border-radius: 0px;
    padding: 20px 40px;
  }
}
.main-contact-wrap .footer .item {
  font-family: brandon-grotesque;
  color: white;
  display: flex;
}
.main-contact-wrap .footer .item .left {
  margin-right: 10px;
  font-weight: bold;
}

.about-wrapper .about-section {
  padding: 40px 80px;
}
.about-wrapper .about-section:first-child {
  padding-top: 100px;
}
.about-wrapper .about-section .section-name {
  font-family: vox;
  color: #28a556;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-wrapper .about-section .content {
  font-family: brandon-grotesque;
  color: black;
  font-size: 20px;
}
.about-wrapper .image-wrapper {
  opacity: 0.6;
  position: relative;
  height: 25vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.about-wrapper .image-wrapper.first {
  background-image: url(/images/about1.jpg);
}
.about-wrapper .image-wrapper.second {
  background-image: url(/images/about2.jpg);
}
.about-wrapper .image-wrapper .green {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #28a556;
  opacity: 0.3;
}

.portfolio-wrapper {
  margin-bottom: 50px;
}
.portfolio-wrapper .works-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 100px 0px 0px 60px;
}
.portfolio-wrapper .works-wrapper .background-wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100vh - 70px);
  z-index: -1;
  background-image: url(/images/works_bg.jpg);
  background-size: cover;
  background-position: calc(50% + 400px) center;
}
.portfolio-wrapper .works-wrapper .background-wrap .gradient-white, .portfolio-wrapper .works-wrapper .background-wrap .gradient-green {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.portfolio-wrapper .works-wrapper .background-wrap .gradient-green {
  background-color: #28a556;
  opacity: 0.3;
}
.portfolio-wrapper .works-wrapper .background-wrap .gradient-white {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, white 0%, white 50%, rgba(255, 255, 255, 0.7679446779) 75%, rgba(255, 255, 255, 0) 100%);
}
.portfolio-wrapper .works-wrapper .work-wrap {
  display: flex;
}
.portfolio-wrapper .works-wrapper .work-wrap .thumbnail-wrap {
  position: relative;
  padding-top: 15vw;
  width: 15vw;
  height: 0%;
  background-color: lightgray;
  border-radius: 40px;
  margin-right: 40px;
}
.portfolio-wrapper .works-wrapper .work-wrap:not(:last-child) {
  margin-bottom: 50px;
}
.portfolio-wrapper .works-wrapper .work-wrap .right-wrap {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.portfolio-wrapper .works-wrapper .work-wrap .right-wrap .title {
  font-size: 25px;
  font-family: vox;
  color: #28a556;
  font-weight: bold;
}
.portfolio-wrapper .works-wrapper .work-wrap .right-wrap .desc {
  font-family: brandon-grotesque;
  font-size: 16px;
  color: black;
  margin: 20px 0px;
  height: 100%;
}
.portfolio-wrapper .works-wrapper .work-wrap .right-wrap .link {
  font-family: brandon-grotesque;
  font-size: 16px;
  color: black;
}
.portfolio-wrapper .works-wrapper .work-wrap .right-wrap .link a {
  font-size: 14px;
  text-decoration: none;
  color: #18e061;
  display: block;
  margin: 5px 0px 20px 0px;
}
.portfolio-wrapper .works-wrapper .work-wrap .right-wrap .gallery-btn {
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #28a556;
  color: #28a556;
  background-color: white;
  padding: 5px 25px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  align-self: flex-start;
}

.simple-footer {
  background-color: #28a556;
  width: 100%;
  margin-top: 10px;
  height: 20px;
}

@media (max-width: 1200px) {
  .main-section .items-wrapper, .main-section .items-wrapper-inline, .main-section .items-wrapper-logos {
    padding: 0px 20px;
  }
}
@media (max-width: 1000px) {
  .main-contact-wrap {
    min-height: calc(100vh - 70px * 0.8);
  }

  .main-header {
    height: calc(70px * 0.8);
  }
  .main-header .logo-wrap {
    display: none;
  }
  .main-header .nav-wrap {
    padding-left: 10px;
  }
  .main-header .nav-wrap .item {
    font-size: 15px;
  }
  .main-header .nav-wrap .item:not(:last-child) {
    margin-right: 10px;
  }
  .main-header .contact-wrap {
    display: none;
    padding-right: 20px;
  }
  .main-header .contact-wrap .address-item {
    margin-right: 20px;
  }
  .main-header .contact-wrap .address-item {
    display: none;
  }
  .main-header .contact-wrap .address-item .icon-wrap, .main-header .contact-wrap .contact-item .icon-wrap {
    display: none;
  }
  .main-header .contact-wrap .address-item .content, .main-header .contact-wrap .contact-item .content {
    line-height: 15px;
  }
  .main-header .contact-wrap .address-item .content .one, .main-header .contact-wrap .contact-item .content .one {
    font-size: 12px;
    color: #00911A;
  }
  .main-header .contact-wrap .address-item .content .two, .main-header .contact-wrap .address-item .content .three, .main-header .contact-wrap .contact-item .content .two, .main-header .contact-wrap .contact-item .content .three {
    font-size: 13px;
  }

  .main-screen .bigger {
    font-size: 30px !important;
  }
  .main-screen .desc {
    font-size: 14px !important;
  }
  .main-screen .content-wrap {
    max-width: calc(100% - (2 * 5%));
  }

  .main-section .items-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .main-section .items-wrapper .caption {
    font-size: 16px !important;
  }
  .main-section .items-wrapper-inline {
    grid-template-columns: 1fr;
  }
  .main-section .items-wrapper-inline .desc {
    padding: 0px;
  }
  .main-section .items-wrapper-logos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .about-section {
    padding: 20px 25px !important;
  }

  .main-contact-wrap .form-wrapper {
    width: 100%;
  }
  .main-contact-wrap .outer-wrapper {
    padding: 8% 5% 5% 5%;
    padding-bottom: calc(2% + 250px);
  }
  .main-contact-wrap .header {
    font-size: 24px !important;
    margin-bottom: 30px;
  }
  .main-contact-wrap label {
    font-size: 16px !important;
  }
  .main-contact-wrap .map-wrapper {
    display: none;
  }
  .main-contact-wrap input, .main-contact-wrap textarea {
    width: 100% !important;
  }
  .main-contact-wrap .green-btn {
    padding: 10px 30px;
    width: 100%;
  }
  .main-contact-wrap .footer {
    padding: 15px;
    flex-wrap: wrap;
  }
  .main-contact-wrap .footer .left {
    width: 60px;
  }
  .main-contact-wrap .footer .item {
    width: 100%;
  }
  .main-contact-wrap .footer .item:not(:last-child) {
    margin-bottom: 30px;
  }

  .portfolio-wrapper .works-wrapper {
    padding: 50px 20px 0px 20px;
  }
  .portfolio-wrapper .work-wrap {
    flex-wrap: wrap;
  }
  .portfolio-wrapper .thumbnail-wrap {
    padding-top: 100% !important;
    width: 100% !important;
    margin-right: 0px !important;
    border-radius: 20px !important;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
