body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

@import 'colors';
@import 'font';

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

// html {
//   @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }

$headerHeight: 70px;
$sectionPadding: 7vh;
$sectionNameSize: 30px;
$maxSectionInnerWidth: 1200px;
$mainContentLeft: 5%;

input, textarea {
  border: 0px;
  border-radius: 0px;
  outline: none;
  background-color: white;
  color: black;
}

.main-header {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: #{$headerHeight};
  box-shadow: 0px 4px 20px 2px #e2e2e2;
  background-color: white;
  display: flex;
  justify-content: space-between;
  > div {
    height: 100%;
  }

  .logo-wrap {
    padding: 15px 0px;
    padding-left: 50px;
    .logo {
      height: 100%;
    }
  }

  .nav-wrap {
    display: flex;
    font-weight: bold;
    .item {
      height: 100%;
      display: flex;
      align-items: center;
      font-family: brandon-grotesque;
      font-size: 20px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      a {
        color: $mainGreen;
        text-decoration: none;
      }
    }
  }
  .logo-wrap, .contact-wrap {
    flex-grow: 1;
    flex-basis: 0;
  }
  .contact-wrap {
    display: flex;
    padding-right: 50px;
    align-items: center;
    font-family: brandon-grotesque;
    font-weight: 600;
    justify-content: flex-end;
    .address-item {
      margin-right: 40px;
    }
    .address-item, .contact-item {
      display: flex;
      .icon-wrap {
        height: 20px;
        padding-top: 4px;
        padding-right: 10px;
        .icon {
          height: 100%;
          vertical-align: bottom;
        }
      }
      .content {
        line-height: 15px;
        .one {
          font-size: 12px;
          color: $mainGreen;
        }
        .two, .three {
          font-size: 13px;
        }
      }
    }
  }
}

.main-screen {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - #{$headerHeight} - #{$sectionPadding} - #{$sectionNameSize} - 10px);
  background-image: url(/images/eng.jpg);
  background-position: center center;
  background-size: cover;
  .gradient {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,145,26,1) 0%, rgba(0,145,26,0) 100%);
  }
  .content-wrap {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    width: 100%;
    left: $mainContentLeft;
    .bigger {
      font-size: 60px;
      font-family: vox;
      text-transform: uppercase;
    }
    .desc {
      font-family: brandon-grotesque;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }
}

.white-btn, .green-btn {
  cursor: pointer;
  background-color: white;
  color: $mainGreen;
  border: 0px;
  outline: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: brandon-grotesque;
  font-weight: bold;
  padding: 15px 50px;
  box-shadow: 0px 0px 8px 2px #686868;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 12px 4px #686868;
  }
}

.green-btn {
  background-color: $brightGreen;
  color: white;
  box-shadow: 0px 0px 8px 2px #d6d6d6;
  &:hover {
    box-shadow: 0px 0px 12px 4px #d6d6d6;
  }
}

.main-section {
  width: 100%;
  padding-top: $sectionPadding;
  .section-name {
    font-family: vox;
    color: $lightGreen;
    font-size: $sectionNameSize;
    font-weight: bold;
    &::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 10px;
      background-color: $lightGreen;
      vertical-align: middle;
      margin-right: 15px;
      transform: translateY(-3px);
    }
  }
  .items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

    max-width: $maxSectionInnerWidth;
    width: 100%;
    margin: 30px auto 0px auto;

    .item {
      img {
        max-width: 100%;
        display: inline-block;
      }
      .caption {
        font-family: vox;
        color: black;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
  .items-wrapper-inline {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 10px;
    row-gap: 10px;

    max-width: $maxSectionInnerWidth;
    width: 100%;
    margin: 30px auto 0px auto;

    img {
      max-width: 100%;
      display: inline-block;
    }

    .desc {
      padding: 30px 0px;
      font-weight: 500;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      .first {
        color: $lightGreen;
        font-size: 23px;
        font-family: vox;
        margin-bottom: 5px;
      }
      .content {
        font-family: brandon-grotesque;
        color: black;
      }
    }
  }
  
  .items-wrapper-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;

    max-width: $maxSectionInnerWidth;
    width: 100%;
    margin: 30px auto 50px auto;

    img {
      max-width: 100%;
      max-height: 100px;
      display: block;
      margin: auto;
    }
  }
}

.main-contact-wrap {
  position: relative;
  min-height: calc(100vh - #{$headerHeight});
  .background-wrapper {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 100%;
    background-image: url(/images/contact_bg.jpg);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    .gradient-white, .green {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
    .green {
      background-color: $lightGreen;
      opacity: 0.3;
    }
    .gradient-white {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7679446778711485) 75%, rgba(255,255,255,0.7) 100%);
    }
  }
  .outer-wrapper {
    display: flex;
    padding: 8% 0px 5% 5%;
    padding-bottom: calc(2% + 100px);
    font-weight: 500;
  }
  
  .map-wrapper {
    margin-right: 40px;
    width: 30vw;
    height: 0%;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .form-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .green-btn {
      align-self: flex-start;
    }

    .header {
      font-size: 32px;
      font-family: vox;
      color: $lightGreen;
      font-weight: 600;
    }

    input, textarea, label {
      display: block;
    }

    input, textarea {
      border: 2px solid $lightGreen;
      border-radius: 20px;
      padding: 3px 15px;
      width: 400px;
      height: 40px;
      font-size: 17px;
      font-family: brandon-grotesque;
      margin: 10px 0px 20px 0px;
      &::placeholder {
        color: lightgrey;
      }
    }

    textarea {
      height: 100px;
      padding: 5px 15px;
    }

    label {
      font-family: brandon-grotesque;
      font-size: 22px;
      color: $lightGreen;
      &.required::after {
        content: ' (wymagane)';
        color: black;
        font-size: 14px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    padding: 20px 50px;
    padding-right: 250px;
    background-color: $lightGreen;
    border-radius: 0px 65px 0px 0px;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    width: 100%;
    @media (max-width: 1250px) {
      max-width: 100%;
      border-radius: 0px;
      padding: 20px 40px;
    }
    .item {
      font-family: brandon-grotesque;
      color: white;
      display: flex;
      .left {
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }
}

.about-wrapper {
  .about-section {
    padding: 40px 80px;
    &:first-child {
      padding-top: 100px;
    }
    .section-name {
      font-family: vox;
      color: $lightGreen;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .content {
      font-family: brandon-grotesque;
      color: black;
      font-size: 20px;
    }
  }
  
  .image-wrapper {
    opacity: 0.6;
    position: relative;
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    &.first {
      background-image: url(/images/about1.jpg);
    }
    &.second {
      background-image: url(/images/wires.jpeg);
    }

    .green {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $lightGreen;
      opacity: 0.3;
    }
  }
}

.portfolio-wrapper {
  margin-bottom: 50px;

  .works-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 100px 0px 0px 60px;

    .background-wrap {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url(/images/works_bg.jpg);
      background-size: cover;
      background-position: calc(50% + 400px) center;
      .gradient-white, .gradient-green {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      .gradient-green {
        background-color: $lightGreen;
        opacity: 0.3;
      }
      .gradient-white {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.7679446778711485) 75%, rgba(255,255,255,0) 100%);
      }
    }
    
    .work-wrap {
      display: flex;
      .thumbnail-wrap {
        $thumbnailSize: 35vh;
        position: relative;
        padding-top: $thumbnailSize;
        width: $thumbnailSize;
        height: 0%;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 40px;
      }
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      .right-wrap {
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .title {
          font-size: 30px;
          font-family: vox;
          color: $lightGreen;
          font-weight: 600;
        }
        .desc {
          font-family: brandon-grotesque;
          font-size: 20px;
          font-weight: 400;
          color: black;
          margin: 20px 0px;
          height: 100%;
        }
        .link {
          font-family: brandon-grotesque;
          font-size: 18px;
          color: black;
          a {
            font-size: 17px;
            text-decoration: none;
            color: $brightGreen;
            display: block;
            margin: 3px 0px 20px 0px;
          }
        }

        .gallery-btn {
          text-transform: uppercase;
          border-radius: 20px;
          border: 2px solid $lightGreen;
          color: $lightGreen;
          background-color: white;
          padding: 5px 25px;
          cursor: pointer;
          outline: none;
          font-size: 18px;
          align-self: flex-start;
        }
      }
    }
  }
}

.simple-footer {
  background-color: $lightGreen;
  width: 100%;
  margin-top: 10px;
  height: 20px;
}

@media (max-width: #{$maxSectionInnerWidth}) {
  .main-section {
    .items-wrapper, .items-wrapper-inline, .items-wrapper-logos {
      padding: 0px 20px;
    }
  }
}

@media (max-width: 1100px) {
  .main-header {
    .contact-wrap {
      .icon-wrap {
        display: none !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-contact-wrap {
    min-height: calc(100vh - #{$headerHeight} * 0.8);
  }
  .main-header {
    height: calc(#{$headerHeight} * 0.8);
    .logo-wrap {
      display: none;
    }
    .nav-wrap {
      padding-left: 10px;
      .item {
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    .contact-wrap {
      display: none;
      padding-right: 20px;
      .address-item {
        margin-right: 20px;
      }
      .address-item {
        display: none;
      }
      .address-item, .contact-item {
        .icon-wrap {
          display: none;
        }
        .content {
          line-height: 15px;
          .one {
            font-size: 12px;
            color: $mainGreen;
          }
          .two, .three {
            font-size: 13px;
          }
        }
      }
    }
  }
  .main-screen {
    .bigger {
      font-size: 30px !important;
    }
    .desc {
      font-size: 14px !important;
    }
    .content-wrap {
      max-width: calc(100% - (2 * #{$mainContentLeft}));
    }
  }
  .main-section {
    .items-wrapper {
      grid-template-columns: 1fr 1fr;
      .caption {
        font-size: 16px !important;
      }
    }
    .items-wrapper-inline {
      grid-template-columns: 1fr;
      .desc {
        padding: 0px;
        display: block;
      }
    }
    .items-wrapper-logos {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .about-section {
    padding: 20px 25px !important;
  }

  .main-contact-wrap {
    .form-wrapper {
      width: 100%;
    }
    .outer-wrapper {
      padding: 8% 5% 5% 5%;
      padding-bottom: calc(2% + 250px);
    }
    .header {
      font-size: 24px !important;
      margin-bottom: 30px;
    }
    label {
      font-size: 16px !important;
    }
    .map-wrapper {
      display: none;
    }
    input, textarea {
      width: 100% !important;
    }
    .green-btn {
      padding: 10px 30px;
      width: 100%;
    }
    .footer {
      padding: 15px;
      flex-wrap: wrap;
      .left {
        width: 60px;
      }
      .item {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .portfolio-wrapper {
    .works-wrapper {
      padding: 50px 20px 0px 20px;
    }
    .work-wrap {
      flex-wrap: wrap;
    }
    .thumbnail-wrap {
      padding-top: 100% !important;
      width: 100% !important;
      margin-right: 0px !important;
      border-radius: 20px !important;
      margin-bottom: 20px;
    }
  }
}