body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

$mainGreen: #00911A;
$lightGreen: #28a556;
$headerHeight: 70px;
$sectionPadding: 7vh;
$sectionNameSize: 30px;

input, textarea {
  border: 0px;
  border-radius: 0px;
  outline: none;
  background-color: white;
  color: black;
}

.main-header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: #{$headerHeight};
  box-shadow: 0px 4px 8px 2px rgb(92, 92, 92);
  background-color: white;
  display: flex;
  justify-content: space-between;
  > div {
    height: 100%;
  }
  .nav-wrap {
    display: flex;
    .item {
      height: 100%;
      display: flex;
      align-items: center;
      color: $mainGreen;
      font-family: brandon-grotesque;
      font-size: 20px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .logo-wrap, .contact-wrap {
    flex-grow: 1;
    flex-basis: 0;
  }
  .contact-wrap {
    display: flex;
    padding-right: 50px;
    align-items: center;
    font-family: brandon-grotesque;
    justify-content: flex-end;
    .address-item {
      margin-right: 40px;
    }
    .address-item, .contact-item {
      display: flex;
      .icon-wrap {

      }
      .content {
        line-height: 18px;
        .one {
          font-size: 12px;
          color: $mainGreen;
        }
        .two, .three {
          font-size: 13px;
        }
      }
    }
  }
}

.main-screen {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - #{$headerHeight} - #{$sectionPadding} - #{$sectionNameSize} - 10px);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,145,26,1) 0%, rgba(0,145,26,0) 100%);
  .content-wrap {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    width: 100%;
    left: 5%;
    .bigger {
      font-size: 60px;
      font-family: vox;
      text-transform: uppercase;
    }
    .desc {
      font-family: brandon-grotesque;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}

.white-btn {
  cursor: pointer;
  background-color: white;
  color: $mainGreen;
  border: 0px;
  outline: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: brandon-grotesque;
  padding: 15px 50px;
  box-shadow: 0px 0px 8px 2px #5c5c5c;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 12px 4px #5c5c5c;
  }
}

.main-section {
  width: 100%;
  padding-top: $sectionPadding;
  .section-name {
    font-family: vox;
    color: $lightGreen;
    font-size: $sectionNameSize;
    font-weight: bold;
    &::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 10px;
      background-color: $lightGreen;
      vertical-align: middle;
      margin-right: 15px;
      transform: translateY(-3px);
    }
  }
  .items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

    max-width: 1000px;
    width: 100%;
    margin: 30px auto 0px auto;

    .item {
      img {
        max-width: 100%;
        display: block;
      }
      .caption {
        font-family: vox;
        color: black;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-header {
    height: calc(#{$headerHeight} * 0.7);
    .nav-wrap {
      .item {
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    .contact-wrap {
      // display: none;
      padding-right: 20px;
      .address-item {
        margin-right: 20px;
      }
      .address-item, .contact-item {
        .content {
          line-height: 15px;
          .one {
            font-size: 12px;
            color: $mainGreen;
          }
          .two, .three {
            font-size: 13px;
          }
        }
      }
    }
  }
}