body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

$mainGreen: #00911A;
$lightGreen: #28a556;
$brightGreen: #18e061;
$headerHeight: 70px;
$sectionPadding: 7vh;
$sectionNameSize: 30px;
$maxSectionInnerWidth: 1200px;

input, textarea {
  border: 0px;
  border-radius: 0px;
  outline: none;
  background-color: white;
  color: black;
}

.main-header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: #{$headerHeight};
  box-shadow: 0px 4px 20px 2px #616161;
  background-color: white;
  display: flex;
  justify-content: space-between;
  > div {
    height: 100%;
  }
  .nav-wrap {
    display: flex;
    .item {
      height: 100%;
      display: flex;
      align-items: center;
      font-family: brandon-grotesque;
      font-size: 20px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      a {
        color: $mainGreen;
        text-decoration: none;
      }
    }
  }
  .logo-wrap, .contact-wrap {
    flex-grow: 1;
    flex-basis: 0;
  }
  .contact-wrap {
    display: flex;
    padding-right: 50px;
    align-items: center;
    font-family: brandon-grotesque;
    justify-content: flex-end;
    .address-item {
      margin-right: 40px;
    }
    .address-item, .contact-item {
      display: flex;
      // .icon-wrap {

      // }
      .content {
        line-height: 18px;
        .one {
          font-size: 12px;
          color: $mainGreen;
        }
        .two, .three {
          font-size: 13px;
        }
      }
    }
  }
}

.main-screen {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - #{$headerHeight} - #{$sectionPadding} - #{$sectionNameSize} - 10px);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,145,26,1) 0%, rgba(0,145,26,0) 100%);
  .content-wrap {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    width: 100%;
    left: 5%;
    .bigger {
      font-size: 60px;
      font-family: vox;
      text-transform: uppercase;
    }
    .desc {
      font-family: brandon-grotesque;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}

.white-btn, .green-btn {
  cursor: pointer;
  background-color: white;
  color: $mainGreen;
  border: 0px;
  outline: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: brandon-grotesque;
  padding: 15px 50px;
  box-shadow: 0px 0px 8px 2px #686868;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 12px 4px #686868;
  }
}

.green-btn {
  background-color: $brightGreen;
  color: white;
  box-shadow: 0px 0px 8px 2px #d6d6d6;
  &:hover {
    box-shadow: 0px 0px 12px 4px #d6d6d6;
  }
}

.main-section {
  width: 100%;
  padding-top: $sectionPadding;
  .section-name {
    font-family: vox;
    color: $lightGreen;
    font-size: $sectionNameSize;
    font-weight: bold;
    &::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 10px;
      background-color: $lightGreen;
      vertical-align: middle;
      margin-right: 15px;
      transform: translateY(-3px);
    }
  }
  .items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

    max-width: $maxSectionInnerWidth;
    width: 100%;
    margin: 30px auto 0px auto;

    .item {
      img {
        max-width: 100%;
        display: inline-block;
      }
      .caption {
        font-family: vox;
        color: black;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
  .items-wrapper-inline {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 10px;
    row-gap: 10px;

    max-width: $maxSectionInnerWidth;
    width: 100%;
    margin: 30px auto 0px auto;

    img {
      max-width: 100%;
      display: inline-block;
    }

    .desc {
      padding: 30px 0px;
      .first {
        color: $lightGreen;
        font-size: 23px;
        font-family: vox;
      }
      .content {
        font-family: brandon-grotesque;
        color: black;
      }
    }
  }
}

.main-contact-wrap {
  .outer-wrapper {
    display: flex;
    padding: 10% 0px 5% 5%;
  }
  
  .map-wrapper {
    margin-right: 40px;
    width: 30vw;
    height: 0%;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .form-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .green-btn {
      align-self: flex-start;
    }

    .header {
      font-size: 30px;
      font-family: vox;
      color: $lightGreen;
    }

    input, textarea, label {
      display: block;
    }

    input, textarea {
      border: 2px solid $lightGreen;
      border-radius: 20px;
      padding: 3px 15px;
      width: 400px;
      height: 40px;
      font-size: 17px;
      font-family: brandon-grotesque;
      margin: 10px 0px 20px 0px;
      &::placeholder {
        color: lightgrey;
      }
    }

    textarea {
      height: 100px;
      padding: 5px 15px;
    }

    label {
      font-family: brandon-grotesque;
      font-size: 20px;
      color: $lightGreen;
      &.required::after {
        content: ' (wymagane)';
        color: black;
        font-size: 14px;
      }
    }
  }

  .footer {
    display: flex;
    padding: 20px 50px;
    padding-right: 250px;
    background-color: $lightGreen;
    border-radius: 0px 65px 0px 0px;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    width: 100%;
    @media (max-width: 1250px) {
      max-width: 100%;
      border-radius: 0px;
      padding: 20px 40px;
    }
    .item {
      font-family: brandon-grotesque;
      color: white;
      display: flex;
      .left {
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }
}

.about-wrapper {
  .main-header {
    box-shadow: 0px 4px 20px 2px #e2e2e2;
  }
  .about-section {
    padding: 40px 30px;
    &:first-child {
      padding-top: 100px;
    }
    .section-name {
      font-family: vox;
      color: $lightGreen;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .content {
      font-family: brandon-grotesque;
      color: black;
      font-size: 20px;
    }
  }
  
  .image-wrapper {
    height: 25vh;
    width: 100%;
    background-color: lightgray;
  }
}

.portfolio-wrapper {
  .main-header {
    box-shadow: 0px 4px 20px 2px #e2e2e2;
  }

  .works-wrapper {
    display: flex;
    flex-direction: column;

    padding: 100px 0px 0px 60px;
    
    .work-wrap {
      display: flex;
      .thumbnail-wrap {
        $thumbnailSize: 15vw;
        position: relative;
        padding-top: $thumbnailSize;
        width: $thumbnailSize;
        height: 0%;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 40px;
      }
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      .right-wrap {
        max-width: 400px;
        width: 100%;
        .title {
          font-size: 25px;
          font-family: vox;
          color: $lightGreen;
          font-weight: bold;
        }
        .desc {
          font-family: brandon-grotesque;
          font-size: 16px;
          color: black;
          margin: 20px 0px;
        }
        .link {
          font-family: brandon-grotesque;
          font-size: 16px;
          color: black;
          a {
            font-size: 14px;
            text-decoration: none;
            color: $brightGreen;
            display: block;
            margin: 5px 0px 20px 0px;
          }
        }

        .gallery-btn {
          text-transform: uppercase;
          border-radius: 20px;
          border: 2px solid $lightGreen;
          color: $lightGreen;
          background-color: white;
          padding: 5px 25px;
          cursor: pointer;
          outline: none;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: #{$maxSectionInnerWidth}) {
  .main-section {
    .items-wrapper, .items-wrapper-inline {
      padding: 0px 20px;
    }
  }
}

@media (max-width: 1000px) {
  .main-header {
    height: calc(#{$headerHeight} * 0.7);
    .nav-wrap {
      .item {
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    .contact-wrap {
      // display: none;
      padding-right: 20px;
      .address-item {
        margin-right: 20px;
      }
      .address-item, .contact-item {
        .content {
          line-height: 15px;
          .one {
            font-size: 12px;
            color: $mainGreen;
          }
          .two, .three {
            font-size: 13px;
          }
        }
      }
    }
  }
}